{% extends 'layout.html' %}
{% block title %} eComm{% endblock %}

{% block content %}

<section class="jumbotron" id="alpha">
  <div class="container">
    <div class="row wrapper">
      <div class="col">

        <img class="mb-4" src="{{ url_for('static', filename='images/bob-the-builder.gif') }}" alt="">
      </div>

      <div class="col">
        <div>

          <h1 class="jumbotron-heading">Under Construction</h1>
          <p class="lead">
            Thanks for visiting this application! Please bear with us as we make this as great as it can be!
          </p>
          <p class="text-muted">
            Please do no use any personal or sensitive information on here!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
