<!--
    Footer partial
-->
<!-- <footer class="page-footer font-small">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <span>CourtFinder </span>
  </div>
</footer> -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">

<footer class="footer">
  <div class="container">
    <span class="text-muted">Powered by</span>
    <a href="https://www.linode.com">
      <img id="linode" src="https://www.linode.com/media/images/logos/standard/light/linode-logo_standard_light_medium.png" alt="">
    </a>
      <span class="text-muted">View Source Code</span>
      <a href="https://github.com/abalarin/Court-Finder">
        <img id="github" src="https://image.flaticon.com/icons/png/512/25/25231.png" alt="">
      </a>
  </div>
</footer>
