.court {
  margin-top: 15px;
  margin-bottom: 15px;
}

.img-responsive {
  width: 100%;
}

.lights-on {
  border-width: 2px;
  border-style: solid;
  border-color: yellow;
}

.lights-off {
  border-width: 2px;
  border-style: solid;
  border-color: #002c75;
}
.hidden {
    display: none;
}
