.court-container {
  margin-top: 20px;
}

.review-container{
  margin-top: 50px;
}
.add-review{
  margin-top: 50px;
  margin-bottom: 30px;
}

.court-carousel-item{
  height: 300px;
}

.court-carousel-item img{
  height: 100%;
}

.bookmark {
  width: 25px;
}
