h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

.icons {
  width: 25px;
}

.action-col {
  margin-top: 20px;
  margin-bottom: 20px;
}

.court-container {
  margin-top: 20px;
}

.review-container{
  margin-top: 50px;
}
.add-review{
  margin-top: 50px;
  margin-bottom: 30px;
}

.court-carousel-item{
  height: 300px;
}

.court-carousel-item img{
  height: 100%;
}

.review-profile-img{
  width: 64px;
  height: 64px;
  margin-right: 15px;
}

.review{
  max-width: 450px;
}
