h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

.court {
  margin-top: 15px;
  margin-bottom: 15px;
}

.court-profile {
  margin: 15px;
  margin-right: 0px;
  max-width: 180px;
  max-height: 140px;
}
.img-responsive {
  height: 100%;
  width: 100%;
}

.court-info-col {
  margin-left: 0px;
  padding-left: 0px;
}

.address-col {
  margin: 30px;
}

.lights-on {
  border-width: 2px;
  border-style: solid;
  border-color: yellow;
}

.lights-off {
  border-width: 2px;
  border-style: solid;
  border-color: #002c75;
}
.hidden {
    display: none;
}

#court_title {
  text-decoration: none;
}
