html {
  position: relative;
  min-height: 100%;
  background: #fafafa;
}

body {
  background: #fafafa;
}

.body {
  margin-top: 60px;
  margin-bottom: 90px;
  background: #fafafa;
}

ul {
  list-style-type: none;
}

.navbar {
  z-index: 100
}
@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  .not-mobile-divider a span{
    display: none;
  }
}

.icon-default {
  width: 25px;
  margin-left: 15px;
}

#no-underline {
  text-decoration: none;
}
