.profile-img {
  max-width: 300px;
  margin-bottom: 50px;
}
.sub-menu a{
  text-decoration: none;
}

#_password {
  display: none;
}
#_email {
  display: none;
}
#_friends {
  display: none;
}
#_privacy {
  display: none;
}

#favorite-court {
  text-decoration: none;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 922px) {
  .content #header {
    font-size: 2em;
  }
}
