#_friends {
  display: none;
}

.review {
  margin-bottom: 15px;
}

.add-friend {
  width: 25px;
}

.court-address {
  font-size: 18px;
}

.friend-profile-img {
  width: 64px;
  height: 64px;
  margin-right: 15px;
}
