<!--render layout template -->
{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="/static/styles/add_court_photo.css">

<form id="photo_form" method="post" action="{{url_for('courts.add_photo', id=Court.id)}}" enctype="multipart/form-data">

  <div class="row title">
    <div class="col">
      <h1>
        <a href="/court/{{Court.id}}">{{Court.name}}:</a>
        <span class="text-muted">Add Photo</span>
      </h1>
    </div>
    <div class="col text-right upload-btn">
      <a class="btn btn-outline-secondary"  href="javascript:{}" onclick="document.getElementById('photo_form').submit();">
        <img class="icons" src="/static/open-iconic/svg/data-transfer-upload.svg">
        Upload
      </a>
    </div>
  </div>

  <div class="custom-file">
    <div class="choose-file-btn">
      <input type="file" accept="image/*" class="custom-file-input" id="customFile" onchange="loadFile(event)" name="court_images" multiple>

      <label class="custom-file-label" for="customFile">Choose file</label>
    </div>

    <div class="photos text-center">
      <!-- Dynamcially Add Images here -->
    </div>

    <script>
      var loadFile = function(event) {
        var output = document.getElementById('output');

        if (event.target.files.length > 0) {
          $(".upload-btn").css("display", "block");
          $(".choose-file-btn").css("display", "none");
        }

        for (var i = 0; i < event.target.files.length; i++) {
          $(".photos").append(
            '<img class="image-upload" src="' +
            URL.createObjectURL(event.target.files[i]) +
            '"/>'
          )

        }
      };
    </script>
  </div>
</form>



{% endblock %}
