<!-- Lets render the "layout" template -->
{% extends 'layout.html' %}

<!-- everything wrapped in this "block" will be loaded into the "layout" template -->
{% block content %}

<div>
    <h1>This is the Courts Page</h1>
    <p>Pulls all existing courts from database to display here</p>
    <p>List of local courts</p>
    <!-- {% for court in courts %} -->
    <ul>
    {% for i in range(0,4) %}
        <li>Court: {{i}}</li>
    {% endfor %}
    </ul>
    <!-- {% endfor %} -->
</div>

{% endblock %}
