<!--render layout template -->
{% extends 'layout.html' %}

{% block content %}
<!-- Search Implementation (non-functional) -->
<link rel="stylesheet" href="../static/styles/court.css">
<h1 style="text-align:center">List of Courts near you</h1>
<article class="navbar-form navbar-left p-0 m-0 ml-b">
    <div class="form-group">
        <label>Search by range:</label>
        <select class="form-control post_max">
            <option value="1">5 miles</option>
            <option value="2">10 miles</option>
            <option value="3">20 miles</option>
        </select>
        <label>Search Court: </label>
        <input type="text" class="form-control post_search_text" placeholder="Enter Court...">
    </div>
    <input type = "submit" value = "Search" class = "btn btn-primary post_search_submit" />
</article>
<!-- Generate X listings -->
{% for court in Courts %}
    <div class="court">
        <hr width="75%">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"><img src="https://s3-media2.fl.yelpcdn.com/bphoto/rztnIqWOVqAXyj-mhnkSbQ/ls.jpg" class="img-responsive" alt="Some picture"></div>
                <div class="col-md-9">
                    <h1>{{ court.name }}</h1>
                    <h6>{{ court.address }}</h6>
                    <p>Rating: N/A{{court.rating}}</p>
                    <p>Type: {{ court.membership_required }}</p>
                    <p>{{ court.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<br>
<!-- Pagination -->


<!-- Footer -->
{% include 'includes/footer.html' %}
{% endblock %}
