{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/map.css') }}">

<!-- Google Map Canvas  -->
<div id="map-container">
  <div id="googleMap">
  </div>
</div>

<!-- Google Maps scripts -->
<script type="text/javascript">
  function initMap() {

    var map = new google.maps.Map(document.getElementById('googleMap'), {
      center: {
        lat: 39.7088028,
        lng: -75.1188798
      },
      zoom: 12
    });

    var courts = {{ courts|tojson|safe }}
    for(var key in courts){
      marker = new google.maps.Marker({
        position: courts[key].latlng,
        map: map
      });
      marker.setMap(map);
    }
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap">
</script>

{% endblock %}
