{% extends 'layout.html' %}

{% block content %}
<form method="POST" enctype="multipart/form-data">

  <div class="form-group row">
    <label for="inputCourtName" class="col-sm-2 col-form-label">Court Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="inputCourtName" value='{{court.name}}'>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputCourtAddress" class="col-sm-2 col-form-label">Court Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="inputCourtAddress" value='{{court.address}}'>
    </div>
  </div>
  <div class="form-group row">
    <label for="xCoordCourt" class="col-sm-2 col-form-label">Court Latitude</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="xCoordCourt" value='{{court.latitude}}'>
    </div>
  </div>
  <div class="form-group row">
    <label for="yCoordCourt" class="col-sm-2 col-form-label">Court Latitude</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="yCoordCourt" value='{{court.longitude}}'>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputNumCourts" class="col-sm-2 col-form-label">Number of courts</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="inputNumCourts" value='{{court.total_courts}}'>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Court Description</label>
    <textarea class="form-control" name="inputCourtDescription" rows="3">{{court.description}}</textarea>
  </div>

  <!-- Upload Pictures  -->
  <div class="form-group">
    <label>Court Pictures</label>
    <div class="custom-file">
      <input type="file" class="custom-file-input" name="court_images" accept="image/*" multiple>
      <label class="custom-file-label" for="custom-file">Choose Pictures</label>
    </div>
  </div>

  {% if court.membership_required %}
  <fieldset class="form-group">
    <div class="row">
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="publicprivateRadios" name="privateRadios1" value=1 checked>
          <label class="form-check-label" for="privateRadios1">
            Private
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="publicprivateRadios" value=0>
          <label class="form-check-label" for="publicRadios2">
            Public
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  {% else %}
  <fieldset class="form-group">
    <div class="row">
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="publicprivateRadios" name="privateRadios1" value=1>
          <label class="form-check-label" for="privateRadios1">
            Private
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="publicprivateRadios" value=0 checked>
          <label class="form-check-label" for="publicRadios2">
            Public
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  {% endif %}


  {% if court.lights %}
  <fieldset>
    <div class="row">
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="lightsRadios" value=1 checked>
          <label class="form-check-label" for="yesRadio1">
            lights
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="lightsRadios" name="noRadio2" value=0>
          <label class="form-check-label" for="noRadio2">
            no lights
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  {% else %}
  <fieldset>
    <div class="row">
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="lightsRadios" value=1>
          <label class="form-check-label" for="yesRadio1">
            lights
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="lightsRadios" name="noRadio2" value=0 checked>
          <label class="form-check-label" for="noRadio2">
            no lights
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  {% endif %}
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </div>
</form>
{% endblock %}
