<form>
  <div class="form-group row">
    <label for="inputCourtName" class="col-sm-2 col-form-label">Court Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputCourtName" placeholder=court_id.name>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputCourtAddress" class="col-sm-2 col-form-label">Court Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputCourtAddress" placeholder=court_id.address>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputNumCourts" class="col-sm-2 col-form-label">Number of courts</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputNumCourts" placeholder="Number of Courts">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputCourtDescription" class="col-sm-2 col-form-label">Court Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputCourtDescription" placeholder="Court Description">
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="publicprivateRadios" id="privateRadios1" value="Private" checked>
          <label class="form-check-label" for="privateRadios1">
            Private
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="publicprivateRadios" id="publicRadios2" value="Public">
          <label class="form-check-label" for="publicRadios2">
            Public
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="lightsRadios" id="yesRadio1" value="yes">
          <label class="form-check-label" for="yesRadio1">
            lights
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="lightsRadios" id="noRadio2" value="no">
          <label class="form-check-label" for="noRadio2">
            no lights
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-2">Checkbox</div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Example checkbox
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>
