<!-- Lets render the "layout" template -->
{% extends 'layout.html' %}

<!-- everything wrapped in this "block" will be loaded into the "layout" template -->
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
<div class="content">
  <div class="background">
    <span id="header">Player Profile</span>
    <img src="{{ url_for('static', filename='images/basketball.png') }}" alt="Profile Image">
    <div class="stats">
      <h2>{{user.username}}</h2>
      <h5>{{user.first_name}} {{user.last_name}}</h5>
      <p>Skill: {{user.skill_level}}</p>
      <p>Games played: {{user.court_visits}}</p>
    </div>
  </div>
  <div class="profilebuttons">
    <a href="/UpdateProfile">
      <button type="button" class="btn btn-primary">
        Edit Profile
      </button>
    </a>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteProfile{{user.id}}">
      Delete Profile
    </button>
  </div>
</div>


<!-- delete confirmation modal -->
<div class="modal fade" id="DeleteProfile{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">WARNING</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete {{user.username}} profile?
        All information relating to this profile will be terminated.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="/DeleteUser">
          <button type="button" class="btn btn-danger">Delete</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
