{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">

<div class="body">
  <form class="form-signin" method="POST">
    {{ form.hidden_tag()}}
    <div class="text-center mb-4">
      <img class="mb-4" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Registration</h1>
    </div>

    <div class="form-label-group">
      {{form.first_name(id="inputfName", class="form-control", placeholder="First Name", autofocus=true)}}
      {{form.first_name.label(for="inputfName")}}
    </div>


    <div class="form-label-group">
      {{form.last_name(id="inputlName", class="form-control", placeholder="Last Name")}}
      {{form.last_name.label(for="inputlName")}}
    </div>

    <div class="form-label-group">
      {{form.username(id="inputUsername", class="form-control", placeholder="Username")}}
      {{form.username.label(for="inputUsername")}}
    </div>

    <div class="form-label-group">
      {% if form.email.errors %}
      {{ form.email(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.email.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{form.email(id="inputEmail", class="form-control", placeholder="Email")}}
      {% endif %}
      {{form.email.label(for="inputEmail")}}

    </div>

    <div class="form-label-group">
      {% if form.password.errors %}
      {{ form.password(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{form.password(id="inputPassword", class="form-control", placeholder="Password")}}
      {% endif %}
      {{form.password.label(for="inputPassword")}}
    </div>

    <div class="form-label-group">
      {% if form.confirm_password.errors %}
      {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.confirm_password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{form.confirm_password(id="confirmPassword", class="form-control", placeholder="Password")}}
      {% endif %}
      {{form.confirm_password.label(for="confirmPassword")}}
    </div>

    {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
  </form>
</div>

{% endblock %}
